<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ontology of Computing{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="logo">Ontology of Computing</a>
            <div class="nav-links">
                <a href="/api/systems">API</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Ontology of Computing - By Tugdual Kerjan</p>
    </footer>
</body>

</html>